{% extends 'base.html.twig' %}

{% block title %}{% trans %}Services{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container-xxl py-5 bg-dark hero-header mb-5">
		<div class="container text-center my-5 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated slideInDown">{% trans %}Services{% endtrans %}</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center text-uppercase">
					<li class="breadcrumb-item">
						<a href="/">{% trans %}Acceuil{% endtrans %}</a>
					</li>
					<li class="breadcrumb-item text-white active" aria-current="page">{% trans %}Services{% endtrans %}</li>
				</ol>
			</nav>
		</div>
	</div>

	<!-- Service Start -->
	<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
				<h5 class="section-title ff-secondary text-center text-primary fw-normal">{% trans %}Nos services{% endtrans %}</h5>
				<h1 class="mb-5">{% trans %}Explorez nos services{% endtrans %}</h1>
			</div>
			<div class="row g-3">
				<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
					<div class="service-item rounded pt-3">
						<div class="p-4">
							<i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
							<h5>{% trans %}Lavage en libre-service{% endtrans %}</h5>
							<p>{% trans %}Dites nous ce que vous voulez et nous tâcherons de l'accomplir.{% endtrans %}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="service-item rounded pt-3">
						<div class="p-4">
							<i class="fa fa-3x fa-handshake text-primary mb-4"></i>
							<h5>{% trans %}Lavage à la demande{% endtrans %}</h5>
							<p>{% trans %}Votre satisfaction fait notre joie et nous marchons dans cette joie.{% endtrans %}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="service-item rounded pt-3">
						<div class="p-4">
							<i class="fa fa-3x fa-headset text-primary mb-4"></i>
							<h5>{% trans %}Location de machines{% endtrans %}</h5>
							<p>{% trans %}Nous sommes disponibles tous les jours de la semaine.{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Service End -->

<!-- Service Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
			<h5 class="section-title ff-secondary text-center text-primary fw-normal">{% trans %}Sur nos services{% endtrans %}</h5>
				<h1 class="mb-5">{% trans %}Fiabilité de nos services{% endtrans %}</h1>
		</div>
		<div class="row g-4">
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item rounded pt-3">
					<div class="p-4">
						<i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
						<h5>{% trans %}Clientèle{% endtrans %}</h5>
						<p>{% trans %}Dites nous ce que vous voulez et nous tâcherons de l'accomplir.{% endtrans %}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
				<div class="service-item rounded pt-3">
					<div class="p-4">
						<i class="fa fa-3x fa-handshake text-primary mb-4"></i>
						<h5>{% trans %}Qualité Service{% endtrans %}</h5>
						<p>{% trans %}Votre satisfaction fait notre joie et nous marchons dans cette joie.{% endtrans %}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item rounded pt-3">
					<div class="p-4">
						<i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
						<h5>{% trans %}Commandes{% endtrans %}</h5>
						<p>{% trans %}Vos commandes sont traitées par ordre d'arrivée avec sécurité.{% endtrans %}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				<div class="service-item rounded pt-3">
					<div class="p-4">
						<i class="fa fa-3x fa-headset text-primary mb-4"></i>
						<h5>{% trans %}Service 24/7{% endtrans %}</h5>
						<p>{% trans %}Nous sommes disponibles tous les jours de la semaine.{% endtrans %}</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Service End -->




{% endblock %}
